<h2 class="text-xl md:text-2xl font-bold mb-6 text-center md:text-left mt-10 md:mt-0">
  Asignar Carrera a Universidad
</h2>

<form (ngSubmit)="guardar()" class="space-y-4 max-w-2xl">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
      <label class="block font-medium">Universidad:</label>
      <select [(ngModel)]="asignacion.universidadId" name="universidadId" required class="w-full border rounded px-3 py-2">
        <option value="0" disabled selected>-- Selecciona --</option>
        <option *ngFor="let uni of universidades" [value]="uni.id">{{ uni.nombre }}</option>
      </select>
    </div>
    <div>
      <label class="block font-medium">Carrera:</label>
      <select [(ngModel)]="asignacion.carreraId" name="carreraId" required class="w-full border rounded px-3 py-2">
        <option value="0" disabled selected>-- Selecciona --</option>
        <option *ngFor="let c of carreras" [value]="c.id">{{ c.nombre }}</option>
      </select>
    </div>
  </div>

  <fieldset class="border p-4 rounded-md">
    <legend class="font-medium px-2">Detalles de la Asignación</legend>
    <div class="space-y-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <label class="block font-medium">Duración (años):</label>
          <input type="number" [(ngModel)]="asignacion.duracionAnios" name="duracionAnios" class="w-full border rounded px-2 py-1" />
        </div>
        <div>
          <label class="block font-medium">Créditos totales:</label>
          <input type="number" [(ngModel)]="asignacion.totalCreditos" name="totalCreditos" class="w-full border rounded px-2 py-1" />
        </div>
      </div>
      <div>
        <label class="block font-medium">Pensum (URL del PDF):</label>
        <input type="text" [(ngModel)]="asignacion.pensumPdf" name="pensumPdf" class="w-full border rounded px-2 py-1" />
      </div>

      <div>
        <label class="block font-medium">Costos Adicionales (Opcional):</label>
        <textarea [(ngModel)]="asignacion.costosAdicionales" name="costosAdicionales" rows="3" class="w-full border rounded px-2 py-1" placeholder="Ej: Costo de laboratorios, seguro médico, etc."></textarea>
      </div>
    </div>
  </fieldset>

  <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded mt-4 hover:bg-blue-700">
    Asignar Carrera
  </button>
</form>